black
wheel
gnureadline
numpy>=1.26.0,<=1.26.4
numpydoc
matplotlib
joblib
scipy
pandas
sphinx
sphinx_rtd_theme
sphinxcontrib_bibtex
myst-parser
PyQt5
pyelftools
sortedcontainers
bitstring
pyyaml
python-gitlab
urllib3
psf-utils
ply
inform
quantiphy
scikit-rf
readchar

